
.curtain-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url(https://www.slidebackground.com/uploads/metal/dark-colored-used-metal-powerpoint-backgrounds-.jpg);
  background-size: cover; */
}

.wornMetalBackground {
  background: #1e1e1e; /* Base dark color */
  background: linear-gradient(145deg, #1c1c1c, #262626);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.wornMetalBackground::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 4px
    ),
    repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 2px,
      transparent 2px,
      transparent 5px
    ); /* Cross hatch effect for scratches */
  opacity: 0.2;
  pointer-events: none;
}

.curtain-content {
    display: flex;
    background: rgba(100, 100, 100, 1);
    justify-content: center;    
}

.curtain-table-header {
  justify-content: center;
  padding: 0.5rem;
}

.curtain-position{
    position: absolute;
    width: inherit;
    height: 100%;
    max-width: 1080px; 
}
  
.curtain-slide {
  overflow: hidden;
  transition: max-height 0.25s ease-in;
}

.curtain-icon {
  height: 100px;
  width: 100px;  
}

.quiet-text {

		display: block;
		width: 100%;
		color: #5d5139;
		font-family: 'Mrs Saint Delafield', cursive;
		line-height: 102px;
		margin-bottom: -20px;
		text-align: center;

}