
.curtain-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://www.slidebackground.com/uploads/metal/dark-colored-used-metal-powerpoint-backgrounds-.jpg);
  background-size: cover;
}

.curtain-content {
    display: flex;
    background: rgba(100, 100, 100, 1);
    justify-content: center;    
}

.curtain-table-header {
  justify-content: center;
  padding: 0.5rem;
}

.curtain-position{
    position: absolute;
    width: inherit;
    height: 100%;
    max-width: 1080px; 
}
  
.curtain-slide {
  overflow: hidden;
  transition: max-height 0.25s ease-in;
}

.curtain-icon {
  height: 100px;
  width: 100px;  
}

.quiet-text {

		display: block;
		width: 100%;
		color: #5d5139;
		font-family: 'Mrs Saint Delafield', cursive;
		line-height: 102px;
		margin-bottom: -20px;
		text-align: center;

}