
.charactor-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.charactor-table-header {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 0.3rem;
}

.charactor-table-content {
  justify-content: center;  
}



  
