.table-input-icon {
  width: 22px;
  object-fit: fill;
}


.player-input-container {
  height:100%;
  margin:0;
  padding:0;
}

.player-input {
  display: flex;
  padding: 0;
  margin: 0;
  background: transparent;
  font-size: large;
  justify-content: center;
  align-items: center;
}