.table-input-icon {
  height: 12px;
  width: 12px;
}


.player-input-container {
  height:100%;
  margin:0;
  padding:0;
}

.player-input {
  display: flex;
  padding: 0;
  margin: 0;
  background: transparent;
  font-size: small;
  justify-content: center;
  align-items: center;
}