
.player-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-table-header {
  padding: 0.5rem;
}

.player-table-content {
  justify-content: center;  
}

th {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 25%;
  text-align: left;
}
td {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 12.5%;
  text-align: center;
}


  
