
.input-popup-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  max-width: 500px;
  max-height: 400px;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  row-gap: 1rem;
}

.input-popup-position{
  position: fixed;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%, 0);
}

.input-popup-box-background {
  background-image: url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
}


.player-input-header {
  padding: 1.5rem 0 ;
  font-size: large;
  color: #cdaa7d;
  font-family: "Wood";
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0.5rem;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
}

.player-input-field {
  border: 3px;
  border-color: white;
  height: 40px;
  padding: 0;
  margin: 0;
  font-size: x-small;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
}

.hint {
  font-size: small;
  font-family: "Wood";
  text-align: center;
  color: #cdaa7d;
}

.form-button-container {
  display: flex;
  gap: 0.5rem 3rem;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
}

.player-input-button{
  display: flex;
  position: relative;
  caret-color: transparent;
  margin-top: 40px;
  bottom: 20%;
  width: 80px;
  height: 30px;
  font-size: small;
  font-family: "Wood";
  text-align: center;
  color: #cdaa7d;  
  border-color: #cdaa7d;
  border-radius: 10px;
  background-image: url(https://img.freepik.com/free-photo/wooden-texture_1208-334.jpg?w=1060&t=st=1672973047~exp=1672973647~hmac=54d87e18466d1dbf24a3cb789539b08c15b18e46faac28f26468badad60eca86);
  justify-content: center;
  text-align: center;
}

.popup-slide-in {
  transition: top 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
}

