
.player-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-table-header {
  display: flex;
  justify-content: center;
  padding: 0.3rem;
}

.player-table-content {
  justify-content: center;  
}

span {
  font-size: medium;
  color: yellow;
}

/* th {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 25%;
  height: 30px;
  text-align: left;
}
td {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 12.5%;
  text-align: center;
}
 */

  
