
.room-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.room-table-header {
  display: flex;
  justify-content: center;
  background-color: blue;
  padding: 0.3rem;
}

.room-table-content {
  justify-content: center;  
}



  
