span {
  font-size: medium;
  color: yellow;
}

tr {
  height: 14px;
}

th {
  border: 1px solid #999;
  padding: 0 0.1rem;
  word-break: break-all;
  max-width: 25%;
  text-align: left;
  font-size: xx-small;
}

td {
  border: 1px solid #999;
  padding: 0.1rem;
  text-align: center;
  width: 12.5%;
}
  