
.weapon-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.weapon-table-header {
  display: flex;
  background-color: blue;
  justify-content: center;
  padding: 0.3rem;
}

.weapon-table-content {
  justify-content: center;  
}



  
