  
.app{
  position: relative;
  max-width: 1080px; 
  width: 100%;
  margin: 0 auto;
}

.popup-canvas {
  position: absolute;
  background-color: rgba(220, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.bg-color-red {
  background-color: rgba(220, 0, 0, 1);
}

.bg-color-green {
  background-color: green;
}
  
.bg-color-blue {
  background-color: blue;
}

.bg-color-yellow {
  background-color: yellow;
}

.bg-color-purple {
  background-color: purple;
}