  
.bg-color-red {
  background-color: rgba(220, 0, 0, 1);
}

.bg-color-green {
  background-color: green;
}
  
.bg-color-blue {
  background-color: blue;
}

.bg-color-yellow {
  background-color: yellow;
}