span{
  color: green;
}

.content {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 0;
}
.dec {
  padding: 0 20px; 
}

.button-style {
  border-radius: 10px;
  text-align: center;
  height: 30px;
  width: 50px;
}


.bg-color-red {
  background-color: rgba(220, 0, 0, 1);
}

.bg-color-green {
  background-color: green;
}

