
.nav-container {
  border: 2px solid gray;
}

.content {
  display: flex;
  height: 20px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0 15px;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 0 ;
}

.content div:first-child {
  margin-right: auto;
}


.locale-input-button {
  display: flex;
  border: 1px solid black;
  width: 100px;
  padding: 0;
  margin: 0;
  margin-right: auto;
  font-size: small;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
}

.locale-input-dropdown {
  position: absolute;
  flex-direction: column;
  list-style: none;
  border: 1px solid black;
  width: 98px;
  padding: 0;
  margin: 0;
  font-size: small;
  text-align: center;
  color: black;
  background-color: white;
}

.locale-input-element {
  margin: 0.3rem 0;
}

.button-style {
  display: flex;
  height: auto;
  width: 40px;
  caret-color: transparent;
  border: 2px solid gray;
  border-radius: 8px;
  background-color: blue;
  color: yellow;
  text-align: center;
  font-size: xx-small;
  justify-content: center;
  padding: 0.1rem;
  margin: 0.1rem;
}

